/* * {
  margin: 0;
  padding: 0;
} */

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

:root {
  --green: #00d69e;
  --darkBlue: #1e3064;
  --gray: #e8e8e8;
  --darkerGray: #b1b1b1;
}

.heading {
  text-transform: uppercase;
  font-size: 0.7em;
  align-self: center;
  width: 20%;
  color: var(--darkBlue);
  font-weight: bold;
}
.image {
  border-radius: 10px 10px 0 0;
}

.fas {
  justify-content: center;
  display: flex;
  margin: 10px;
}

.title {
  text-align: center;
}
